/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
<<<<<<< HEAD


#form-wrapper{margin: 30px 0 0 20px;width: 100%;}
#save-form-list{float: left;width: 75%;}
#form-data-list{  float: left;margin-left: 10px; width: 20%;}
ol li {padding: 10px 0;}
ol{list-style: outside none none;}
img {cursor: pointer;}
.over-rapper{   border: medium solid #49afcd; height: 50px;padding: 10px; width: 95%;}
.highlight {border: medium dashed #49afcd!important;}
.actions{width:100%;margin: 10px;text-align: center;}
=======
>>>>>>> 659a96bb8ae72c6d1a3b288535e1c1715f1f9a80
