<div ng-controller='DynamicFormCtrl'>
	<div id='form-wrapper'>
		<div style="width:75%;float:left;" id='save-form-list'>
			<div class="ui-widget-content">
				<ol data-drop="true" ng-model='list1' jqyoui-droppable="{onDrop: 'removeDropHighLight()'}">
					<li ng-repeat="item in list1 track by $index" ng-show="item.label" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" ng-model="list1" jqyoui-draggable="{index: {{$index}},animate:false, deepCopy: true}" >
						<div class='over-rapper'>
							<div class="btn btn-info btn-draggable"><span data-ng-hide="editMode" ng-click='editMode = true; editAppKey(item)'>{{item.label}}</span> <input type="text" ng-show="editMode" ng-model="item.label" ng-required /> <button type="submit" ng-show="editMode" ng-click="editMode = false" class="btn btn-default">Save</button><button type="button" ng-show="editMode" ng-click="editMode = false" class="btn btn-default">Cancel</button></div> <img src='/assets/delete.png' ng-click='deleteElement($index)' />
						</div>
					</li>
					<li class="placeholder" ng-hide="hideMe()">
						<div class='over-rapper' id='drop-item' >
							Add your items here
						</div>
					</li>
				</ol>
			</div>
			<div class="actions">
				<button ng-click="getFormFields(list1);" class='btn btn-info'>OK</button>
			</div>


			<pre>Hash: {{list1}}</pre>
		</div>
		<div id='form-data-list'>
			<div class="ui-widget-content">
				<ol >
					<li ng-repeat="item in list4 track by $index" ng-show="item.label" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" ng-model="list4" jqyoui-draggable="{index: {{$index}},animate:false, placeholder: 'keep', deepCopy: true, onDrag: 'showDropSection()',onStop: 'removeDropHighLight()'}">
						<div class="btn btn-info btn-draggable">{{item.label}}
						</div>
					</li>
				</ol>
			</div>
		</div>
	</div>
</div>

